html 
    head
        include html/head.pug
        title Главная
    body 
        include html/header.pug 
        main.page 
            span
                img(width="150" src="@img/img1.jpg")
                p Hello
        include html/footer.pug
        script(src='js/app.min.js')