@import "fonts";

body{
    

    font-size: 50px;
    span{
        color: rgb(255, 255, 255);
        p {
            font-family: Montserrat;
            font-weight: 900;
            font-style: italic;
        }
    }
    background: url("@img/img1.jpg") 0 0 no-repeat;
    //background-color: rgb(49, 49, 49);
}

@media (max-width: 768px) {
    span {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    span {
        background-color: green;
    }
}